@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:wght@300;600&family=Rubik:wght@300;400;500;600;700;800;900&display=swap%22");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}
.background1 {
  display: flex;
  background-color: black;
  width: 100%;
  height: 6vh;
}
.connect {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-left: 78%;
}
.connect a {
  color: rgb(109, 235, 109);
  text-decoration: none;
  font-weight: bold;
}
.connect a:hover {
  color: white;
}
.background2 {
  display: flex;
  background-color: rgb(21, 20, 20);
  width: 100%;
  height: 13vh;
}
.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  gap: 65px;
}
.links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
.links a:hover {
  color: rgb(109, 235, 109);
}
.prd {
  width: 50px;
  margin-right: 25px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}
.logo img {
  width: 300px;
  height: 20vh;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}
.button button {
  background-color: rgb(1, 156, 1);
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
  width: 315px;
  height: 8vh;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}
.button button:hover {
  color: black;
  background-color: rgb(170, 170, 170);
}
.navbar {
  position: sticky;
  top: 0;
}
.background3 {
  display: flex;
  background-color: black;
  width: 100%;
  height: 99vh;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-top: 0%;
}
.image img {
  width: 1450px;
}
.head {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10%;
  margin-top: 8%;
}
.head h1 {
  width: 500px;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 50px;
}
.head p {
  width: 700px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
}
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -87%;
  margin-top: 17%;
}
.button2 button {
  background-color: rgb(1, 156, 1);
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
  width: 400px;
  height: 10vh;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}
.button2 button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 41, 41);
}
.background4 {
  display: flex;
  background-image: url("asset\ 35.png");
  width: 100%;
  height: 225vh;
}
.background5 {
  display: flex;
  background-image: url("asset\ 36.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 150vh;
}
.background6 {
  position: absolute;
  background-color: rgb(233, 233, 233);
  width: 90%;
  height: 125vh;
  left: 5%;
  top: 125%;
}
.h1 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 75px;
  margin-bottom: 75px;
}
.gridimg img {
  height: 55vh;
  width: 250px;
  border:solid 3px rgb(219, 219, 219);
  transition: 500ms;
}
.gridimg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  margin-left: 10.5%;
}
.gridimg img:hover {
  border:solid 3px rgb(0, 192, 0);
  cursor: pointer;
}
.gridh1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 8.5%;
  color: green;
  margin-top: 3%;
  margin-bottom: 2%;
}
.gridh1 h1 {
  display: flex;
  justify-content: center;
  margin-right: 30%;
  cursor: pointer;
}
.gridh1 h1:hover {
  color: black;
}
.gridp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 13%;
  font-size: 16px;
}
.gridp p {
  width: 180px;
}
.expimg {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  grid-template-rows: 0.5fr;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  margin-top: 75%;
  margin-left: -10%;
}
.expimg img{
  width: 350px;
  height: 30vh;
}
.expp {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  grid-template-rows: 0.5fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin-top: 100%;
  color: white;
  margin-left: -70%;
}
